@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.theme-gradient {
		@apply bg-gradient-to-b from-purple-800 to-pink-500;
	}
}

.nice-scroll::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 4px;
}

.nice-scroll::-webkit-scrollbar-thumb,
.nice-scroll::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 4px;
}

.nice-scroll:hover::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 4px;
}

.side-scroll {
	position: relative;
}

.side-scroll:before {
	left: 0;
	background: linear-gradient(90deg, #fff, #ffffff00);
}

.side-scroll:after,
.side-scroll:before {
	position: absolute;
	top: 0;
	width: 150px;
	height: calc(100% - 14px);
	pointer-events: none;
}

.side-scroll:after {
	right: 0;
	background: linear-gradient(90deg, #ffffff00, #fff);
}

.nice-scroll::-webkit-scrollbar-thumb:hover {
	background: grey;
}
